.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.gametop {
    width: auto;
    height: auto;
    background-color: orangered;
    display: flex;
    justify-content: center;
    padding: 75px;
} 
.gameboard {
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow : row wrap;
} 
.gamebottom {
    width: auto;
    height: auto;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
} 
ul li {
    display: flex;
    vertical-align: center;
    padding: 50px;
}

.gamebottom ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.colorBlock {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 25px;
}
.bgYellow {
    background-color: Yellow;
}
.bgPurple {
    background-color: purple;
}
.bgBrown {
    background-color: brown;
}
